.banner
  padding-top: 9vh
  height: 100vh
  background-image: url("../../../images/banner.jpg")
  background-repeat: no-repeat
  background-size: cover
  background-position: center

  .container
    max-width: 1140px
    margin: 0 auto
    height: inherit

    .banner-content
      width: 50%

      .intro
        color: white

      .intro-title
        font-size: 60px
      
      .intro-paragraph
        font-size: 30px
        font-weight: 400

      .buttons
        display: flex
        flex-direction: row
