body
  margin: 0
  padding: 0
  box-sizing: border-box


.App
  background-image: url('./images/banner1.jpg')
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  background-attachment: fixed
