.banner
  padding-top: 9vh
  min-height: 91vh

  .banner-wrapper
    display: flex
    justify-content: space-between

    .content-left
      width: 50%
      @media (max-width: 480px)
        width: 100%

      .intro
        color: white

      .intro-title
        font-size: 60px
        @media (max-width: 480px)
          font-size: 30px

      .intro-paragraph
        font-size: 30px
        font-weight: 400
        @media (max-width: 480px)
          font-size: 20px

      .buttons
        display: flex
        flex-direction: row

    .content-right
      text-align: center

      img
        display: block
        width: 80%
        height: auto
        @media (max-width: 480px)
          display: none